.menu {
    background: $black;
    padding: rem(72);
    @include mq('md') {
        padding: rem(24) rem(16);
    }
}

.menu__wrapper {
    border: 2px solid $text-white;
    padding: rem(80) rem(83) rem(100);
    @include mq('md') {
        padding: rem(30) rem(21) rem(32);
    }
}

.menu__inner {}

.menu__title {}

.menu__ingredient {
    color: $text-white;
    text-align: center;
    margin-top: rem(45);
    font-weight: 500;
    @include mq('md') {
        margin-top: rem(57);
    }
}

.menu__items {
    display: flex;
    flex-wrap: wrap;
    margin-top: rem(-24);
    @include mq('md') {
        display: block;
        margin-top: rem(36);
    }
}

.menu__recommend {
    margin-top: rem(72);
    // margin-left: rem(220);
    // max-width: rem(592);
    // transform: translateX(rem(200));
    display: flex;
    align-items: center;
    @include mq('md') {
        display: block;
        transform: none;
        margin-left: 0;
        margin-top: rem(0);
        max-width: 100%;
    }
}

.menu__item {
    width: calc((100% - #{rem(32)} * 1) / 2);
    &:not(:last-child) {
        margin-right: rem(32);
    }
    @include mq('md') {
        width: 100%;
        &:not(:last-child) {
            margin-right: 0;
            margin-bottom: rem(9);
        }
    }
}

.menu__instagram {
    margin-top: rem(77);
    @include mq('md') {
        margin-top: rem(46);
    }
}