@charset "UTF-8";
.u-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .u-mobile {
    display: inline-block;
  }
}

@media screen and (max-width: 767px) {
  .u-desktop {
    display: none;
  }
}

/* FontFamily */
body {
  font-family: "Noto Sans JP", sans-serif;
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}

@media screen and (max-width: 1080px) {
  html {
    font-size: 1.48148vw;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 4.26667vw;
  }
}

body {
  line-height: 27px;
  line-height: 1.6875rem;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #333;
}

@media screen and (max-width: 767px) {
  body {
    line-height: 1.5rem;
  }
}

span {
  display: inline-block;
}

a {
  -webkit-transition: .3s;
  transition: .3s;
}

a:hover {
  cursor: pointer;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
  list-style: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* Remove list styles on li, dd elements with a class attribute */
li,
dd {
  list-style-type: none;
}

/* A elements that don't have a class get default styles */
/* Make images easier to work with */
img {
  border: none;
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 67px;
  gap: 0 4.1875rem;
}

.about-item:nth-child(2n + 1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 767px) {
  .about-item {
    display: block;
  }
}

.about-item__body {
  position: relative;
  width: calc(100% - 32.3125rem);
  margin: auto;
}

@media screen and (max-width: 767px) {
  .about-item__body {
    width: 100%;
    padding: 0 0.625rem;
  }
}

.about-item__number {
  color: #fff;
  font-family: reross-quadratic, sans-serif;
  letter-spacing: 0.05em;
  font-size: 288px;
  font-size: 18rem;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .about-item__number {
    font-size: 11.25rem;
    right: -1rem;
    bottom: -7.25rem;
  }
}

.about-item__title {
  font-weight: 700;
  font-size: 30px;
  font-size: 1.875rem;
  letter-spacing: 0.05em;
  position: relative;
  z-index: 5;
}

@media screen and (max-width: 767px) {
  .about-item__title {
    font-size: 1.5rem;
  }
}

.about-item__title--strong {
  color: #159741;
}

.about-item__text {
  margin-top: 24px;
  margin-top: 1.5rem;
  max-width: 400px;
  max-width: 25rem;
  position: relative;
  z-index: 5;
}

@media screen and (max-width: 767px) {
  .about-item__text {
    margin-top: 0.9375rem;
  }
}

.about-item__img {
  width: 450px;
  width: 28.125rem;
  position: relative;
}

.about-item__img::before {
  padding-top: 64%;
  display: block;
  content: "";
}

.about-item__img img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media screen and (max-width: 767px) {
  .about-item__img {
    width: 21.4375rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
  }
}

.btn {
  padding: 17px 77px 16px 58px;
  padding: 1.0625rem 4.8125rem 1rem 3.625rem;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 23.17px;
  line-height: 1.44813rem;
  border: 1px solid #333;
  position: relative;
}

.btn::before {
  position: absolute;
  content: "";
  background-image: url(../images/common/Vector.svg);
  width: 16px;
  width: 1rem;
  height: 16px;
  height: 1rem;
  bottom: 19px;
  bottom: 1.1875rem;
  right: 37px;
  right: 2.3125rem;
}

.btn:hover {
  background: #333;
  color: #fff;
}

.btn:hover::before {
  background-image: url(../images/common/Vector-white.svg);
}

@media screen and (max-width: 767px) {
  .btn {
    white-space: nowrap;
    padding: 1.0625rem 3.625rem 1rem 2.1875rem;
  }
  .btn::before {
    width: 0.86375rem;
    height: 0.86375rem;
    bottom: 1.3125rem;
    right: 1.3125rem;
  }
}

.checkbox {
  text-align: center;
  margin-top: 33px;
  margin-top: 2.0625rem;
}

@media screen and (max-width: 767px) {
  .checkbox {
    margin-top: 2.1875rem;
  }
}

.checkbox__label {
  margin-top: 33px;
  margin-top: 2.0625rem;
}

.checkbox__label:hover {
  cursor: pointer;
}

.checkbox__part {
  cursor: pointer;
  display: inline-block;
  width: 30px;
  width: 1.875rem;
  height: 30px;
  height: 1.875rem;
  padding: 0 0 0 1.2em;
  position: relative;
  vertical-align: middle;
}

.checkbox__part:hover::before, .checkbox__part:focus::before {
  border: 1px solid #159741;
  -webkit-box-shadow: 0 0 8px #159741;
          box-shadow: 0 0 8px #159741;
}

.checkbox__part:active::before {
  background: rgba(21, 151, 65, .15);
}

.checkbox__part::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid #2F2F2F;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  height: 1.875rem;
  width: 30px;
  width: 1.875rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.checkbox__part::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  border-bottom: 2px solid #159741;
  border-left: 2px solid #159741;
  content: "";
  display: block;
  height: 14px;
  height: 0.875rem;
  left: 3px;
  left: 0.1875rem;
  margin-top: -0.2em;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 23px;
  width: 1.4375rem;
}

.checkbox__text {
  margin-left: 9px;
  margin-left: 0.5625rem;
}

.checkbox__link {
  color: #159741;
  border-bottom: 1px solid #159741;
}

.checkbox__link:hover {
  opacity: 0.7;
}

.footer {
  text-align: center;
  background: #F2F2F2;
}

.footer__inner {
  padding: 56px 0 9px;
  padding: 3.5rem 0 0.5625rem;
}

@media screen and (max-width: 767px) {
  .footer__inner {
    padding: 2.9375rem 0 0.5625rem;
  }
}

.footer__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__icon {
  height: 40px;
  height: 2.5rem;
  width: 40px;
  width: 2.5rem;
  background: #2F2F2F;
  border: 2px solid #2F2F2F;
  border-radius: 50%;
  position: relative;
}

.footer__icon:not(:last-child) {
  margin-right: 40px;
  margin-right: 2.5rem;
}

.footer__icon a {
  display: inline-block;
  width: inherit;
  height: inherit;
  color: #fff;
  font-weight: 900;
  font-size: 25px;
  font-size: 1.5625rem;
}

.footer__icon i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer__icon:hover {
  background: #fff;
}

.footer__icon:hover a {
  color: #2F2F2F;
}

@media screen and (max-width: 767px) {
  .footer__icon {
    height: 3.125rem;
    width: 3.125rem;
  }
  .footer__icon a {
    font-size: 1.8125rem;
  }
}

.footer__nav {
  margin: 35px auto 0;
  margin: 2.1875rem auto 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width: 767px) {
  .footer__nav {
    margin: 2.5rem auto 0;
  }
}

.footer__logo {
  margin-top: 37px;
  margin-top: 2.3125rem;
}

@media screen and (max-width: 767px) {
  .footer__logo {
    margin-top: 2.0625rem;
  }
}

.footer__copy {
  font-size: 12px;
  font-size: 0.75rem;
  margin-top: 19px;
  margin-top: 1.1875rem;
}

@media screen and (max-width: 767px) {
  .footer__copy {
    margin-top: 1.8125rem;
  }
}

.form {
  text-align: left;
}

.form dd {
  width: 100%;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  font-size: 16px;
  font-size: 1rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #2F2F2F;
  background: #F2F2F2;
  padding: 11px 23px;
  padding: 0.6875rem 1.4375rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: inherit;
  font-family: inherit;
  width: 100%;
  margin-top: 4px;
  margin-top: 0.25rem;
  background: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.form input[type="text"]:hover, .form input[type="text"]:focus,
.form input[type="email"]:hover,
.form input[type="email"]:focus,
.form textarea:hover,
.form textarea:focus {
  border: 1px solid #159741;
  -webkit-box-shadow: 0 0 8px #159741;
          box-shadow: 0 0 8px #159741;
}

@media screen and (max-width: 767px) {
  .form input[type="text"],
  .form input[type="email"],
  .form textarea {
    margin-top: 0.375rem;
    padding: 0.9375rem 0.9375rem;
  }
}

.form textarea {
  height: 160px;
  height: 10rem;
  resize: vertical;
}

.form input[type="checkbox"] {
  opacity: 0;
  width: 0;
}

.form input[type="checkbox"]:checked + span::after {
  opacity: 1;
}

.form input[type="submit"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  border: none;
  color: #fff;
  background: #159741;
  display: inline-block;
  padding: 15px 101px;
  padding: 0.9375rem 6.3125rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.form input[type="submit"]:hover {
  opacity: 0.7;
}

.form input[type="submit"]:disabled {
  background: #BDBDBD;
}

.form input[type="submit"]:disabled:hover {
  opacity: 1;
  cursor: auto;
}

@media screen and (max-width: 767px) {
  .form input[type="submit"] {
    width: 100%;
  }
}

.form__item:not(:last-child) {
  margin-bottom: 33px;
  margin-bottom: 2.0625rem;
}

@media screen and (max-width: 767px) {
  .form__item:not(:last-child) {
    margin-bottom: 1.9375rem;
  }
}

.form__required {
  background: #159741;
  color: #fff;
  font-size: 12px;
  font-size: 0.75rem;
  margin-left: 16px;
  margin-left: 1rem;
  padding: 1px 6px;
  padding: 0.0625rem 0.375rem;
  border-radius: 0.375rem;
}

@media screen and (max-width: 767px) {
  .form__required {
    margin-left: 0.625rem;
  }
}

.form__btn {
  text-align: center;
  margin-top: 31px;
  margin-top: 1.9375rem;
}

@media screen and (max-width: 767px) {
  .form__btn {
    margin-top: 2.3125rem;
  }
}

.header {
  position: fixed;
  width: 100%;
  height: 90px;
  height: 5.625rem;
  background: #2F2F2F;
  z-index: 10;
}

@media screen and (max-width: 767px) {
  .header {
    height: 3.75rem;
  }
}

.header__inner {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  height: inherit;
}

.header__logo a {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo a img {
  width: 115.84px;
  width: 7.24rem;
}

@media screen and (max-width: 767px) {
  .header__logo a img {
    width: 3.37812rem;
  }
}

.header__nav {
  height: inherit;
}

.instagram {
  padding: 13px;
  padding: 0.8125rem;
  background: #F2F2F2;
  position: relative;
}

@media screen and (max-width: 767px) {
  .instagram {
    padding: 0.5625rem;
  }
}

.instagram__wrapper {
  border: 1px solid #333;
  text-align: center;
  padding: 88px 43px 37px;
  padding: 5.5rem 2.6875rem 2.3125rem;
}

@media screen and (max-width: 767px) {
  .instagram__wrapper {
    padding: 3.9375rem 0.5rem 2.3125rem;
  }
}

.instagram__title {
  background: #159741;
  font-family: reross-quadratic, sans-serif;
  font-size: 30px;
  font-size: 1.875rem;
  padding: 13px 107px;
  padding: 0.8125rem 6.6875rem;
  color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 767px) {
  .instagram__title {
    padding: 0.375rem 2.1875rem;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
  }
}

.instagram__lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.05em;
}

.instagram__lead::before, .instagram__lead::after {
  content: "";
  width: 36px;
  width: 2.25rem;
  height: 1px;
  height: 0.0625rem;
  background: #333;
}

.instagram__lead::before {
  margin-left: 16px;
  margin-left: 1rem;
  -webkit-transform: translate(0rem, 0.8125rem) rotate(54deg);
          transform: translate(0rem, 0.8125rem) rotate(54deg);
}

.instagram__lead::after {
  margin-right: 16px;
  margin-right: 1rem;
  -webkit-transform: translate(0rem, 0.8125rem) rotate(-54deg);
          transform: translate(0rem, 0.8125rem) rotate(-54deg);
}

@media screen and (max-width: 767px) {
  .instagram__lead {
    padding: 0 0.8125rem;
    text-align: left;
  }
  .instagram__lead::before, .instagram__lead::after {
    display: none;
  }
}

.instagram__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 34px;
  margin-top: 2.125rem;
  overflow-x: auto;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .instagram__images {
    margin-top: 1.375rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow-x: visible;
  }
}

.instagram__img:not(:last-child) {
  margin-right: 16px;
  margin-right: 1rem;
}

.instagram__img img {
  min-width: 229px;
  min-width: 14.3125rem;
}

@media screen and (max-width: 767px) {
  .instagram__img {
    width: calc(50% - 0.3125rem);
  }
  .instagram__img:not(:last-child) {
    margin-right: 0rem;
  }
  .instagram__img img {
    min-width: auto;
  }
  .instagram__img:nth-child(2n + 1) {
    margin-right: 0.625rem;
  }
  .instagram__img:nth-child(n + 3) {
    margin-top: 0.625rem;
  }
}

.instagram__id {
  margin-top: 8px;
  margin-top: 0.5rem;
}

.instagram__btn {
  margin-top: 39px;
  margin-top: 2.4375rem;
}

.l-inner {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1130px;
}

@media screen and (max-width: 767px) {
  .l-inner {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.l-inner--header {
  padding-left: 31px;
  padding-left: 1.9375rem;
  padding-right: 71px;
  padding-right: 4.4375rem;
  max-width: 1440px;
}

@media screen and (max-width: 767px) {
  .l-inner--header {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.l-inner--main {
  padding-top: 90px;
  padding-top: 5.625rem;
  padding-right: 0;
  padding-left: 0;
  max-width: 1440px;
}

@media screen and (max-width: 767px) {
  .l-inner--main {
    max-width: 31.25rem;
    padding-top: 3.75rem;
  }
}

.l-inner--about {
  padding-top: 130px;
  padding-top: 8.125rem;
  padding-bottom: 150px;
  padding-bottom: 9.375rem;
}

@media screen and (max-width: 767px) {
  .l-inner--about {
    max-width: 25rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .l-inner--menu {
    max-width: 25rem;
    padding-left: 0;
    padding-right: 0;
  }
}

.l-inner--shop {
  padding-top: 110px;
  padding-top: 6.875rem;
  padding-bottom: 120px;
  padding-bottom: 7.5rem;
  padding-right: 0;
  padding-left: 0;
  max-width: 1440px;
}

@media screen and (max-width: 767px) {
  .l-inner--shop {
    padding-top: 4.0625rem;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 4.0625rem;
  }
}

.l-inner--shop-card {
  max-width: 1196px;
  max-width: 74.75rem;
}

@media screen and (max-width: 767px) {
  .l-inner--shop-card {
    max-width: 25rem;
    padding-left: 0;
    padding-right: 0;
  }
}

.l-inner--contact {
  max-width: 800px;
  max-width: 50rem;
}

@media screen and (max-width: 767px) {
  .l-inner--contact {
    max-width: 25rem;
  }
}

.menu-item__img {
  position: relative;
  -webkit-transform: translate(-2%, 16%);
          transform: translate(-2%, 16%);
  text-align: center;
  z-index: 2;
}

.menu-item__img img {
  max-width: 435px;
  max-width: 27.1875rem;
  max-height: 435px;
  max-height: 27.1875rem;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 767px) {
  .menu-item__img {
    left: 50%;
    -webkit-transform: translate(-52%, 13%);
            transform: translate(-52%, 13%);
  }
  .menu-item__img img {
    max-width: 19.25rem;
  }
}

.menu-item__img--recommend {
  -webkit-transform: translate(13%, -4%);
          transform: translate(13%, -4%);
}

@media screen and (max-width: 1353px) {
  .menu-item__img--recommend {
    -webkit-transform: translate(0, -4%);
            transform: translate(0, -4%);
  }
}

@media screen and (max-width: 767px) {
  .menu-item__img--recommend {
    top: 0rem;
    left: 50%;
    -webkit-transform: translate(-53%, 58px);
            transform: translate(-53%, 58px);
    z-index: 1;
  }
}

.menu-item__recommend {
  background: #159741;
  color: #fff;
  text-align: center;
  padding: 9px 51px 14px;
  padding: 0.5625rem 3.1875rem 0.875rem;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu-item__recommend-en {
  font-family: "Satisfy", cursive;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20.17px;
  line-height: 1.26063rem;
}

@media screen and (max-width: 767px) {
  .menu-item__recommend-en {
    font-size: 0.75rem;
    margin-top: 1.75rem;
  }
}

.menu-item__recommend-jp {
  font-weight: 500;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 34.75px;
  line-height: 2.17188rem;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .menu-item__recommend-jp {
    font-size: 1.125rem;
    white-space: nowrap;
    margin-top: -0.375rem;
  }
}

.menu-item__body {
  position: relative;
  background: #F2F2F2;
  padding: 13px;
  padding: 0.8125rem;
}

@media screen and (max-width: 767px) {
  .menu-item__body {
    padding: 0.5625rem;
  }
}

.menu-item__body--recommend {
  -webkit-transform: translate(-1.5625rem, -0.375rem);
          transform: translate(-1.5625rem, -0.375rem);
  width: 55%;
}

@media screen and (max-width: 767px) {
  .menu-item__body--recommend {
    -webkit-transform: translate(0, 1.4375rem);
            transform: translate(0, 1.4375rem);
    width: 100%;
  }
}

.menu-item__wrapper {
  border: 1px solid #333;
  text-align: center;
  padding: 60px 0 29px;
  padding: 3.75rem 0 1.8125rem;
}

@media screen and (max-width: 767px) {
  .menu-item__wrapper {
    padding: 3rem 0 1.8125rem;
  }
}

.menu-item__wrapper--recommend {
  padding: 100px 0 32px;
  padding: 6.25rem 0 2rem;
}

@media screen and (max-width: 767px) {
  .menu-item__wrapper--recommend {
    padding: 6.9375rem 0 1.8125rem;
  }
}

.menu-item__title {
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 43.44px;
  line-height: 2.715rem;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 767px) {
  .menu-item__title {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}

.menu-item__price {
  margin-top: 9px;
  margin-top: 0.5625rem;
  letter-spacing: 0.1em;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .menu-item__price {
    font-size: 0.75rem;
  }
}

.menu-item__price--yen {
  font-family: reross-quadratic, sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  margin-right: 7px;
  margin-right: 0.4375rem;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .menu-item__price--yen {
    font-size: 1.125rem;
  }
}

.menu-item__price--price {
  font-family: reross-quadratic, sans-serif;
  font-size: 40px;
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  margin-right: -5px;
  margin-right: -0.3125rem;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .menu-item__price--price {
    font-size: 1.875rem;
  }
}

.menu-item__ingredient {
  margin-top: 17px;
  margin-top: 1.0625rem;
  font-size: 24px;
  font-size: 1.5rem;
  letter-spacing: 0.07em;
}

@media screen and (max-width: 767px) {
  .menu-item__ingredient {
    margin-top: 0.9375rem;
    font-size: 0.875rem;
  }
}

.modal {
  text-align: left;
  position: fixed;
  z-index: 501;
  width: 900px;
  width: 56.25rem;
  max-width: calc(100% - 3rem);
  height: 652px;
  height: 40.75rem;
  max-height: calc(100% - 3rem);
  background: #fff;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, .25);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, .25);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 35px 62px;
  padding: 2.1875rem 3.875rem;
  display: none;
}

@media screen and (max-width: 767px) {
  .modal {
    padding: 1.625rem 1rem;
  }
}

.modal__inner {
  overflow: auto;
  height: inherit;
  max-height: inherit;
}

.modal__lead {
  margin-top: 48px;
  margin-top: 3rem;
  font-size: 16px;
  font-size: 1rem;
}

.modal__head {
  font-weight: 700;
  margin-top: 20px;
  margin-top: 1.25rem;
}

.modal__text {
  font-size: 16px;
  font-size: 1rem;
}

.modal__icon {
  position: absolute;
  width: 23px;
  width: 1.4375rem;
  height: 23px;
  height: 1.4375rem;
  right: 22px;
  right: 1.375rem;
  top: 0px;
  top: 0rem;
  font-size: 36px;
  font-size: 2.25rem;
}

.modal__icon a i {
  width: 40px;
  width: 2.5rem;
  height: 40px;
  height: 2.5rem;
  line-height: 40px;
  line-height: 2.5rem;
  text-align: center;
}

.modal__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
  z-index: 500;
  display: none;
}

.nav__items {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.nav__item {
  height: inherit;
}

.nav__item a {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: reross-quadratic, sans-serif;
  position: relative;
}

.nav__item a::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 27px;
  bottom: 1.6875rem;
  width: 0%;
  height: 1px;
  height: 0.0625rem;
  background: #159741;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__item a:hover::before {
  width: 100%;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
  margin-right: 2.5rem;
}

@media screen and (max-width: 767px) {
  .nav__item a {
    font-size: 0.875rem;
  }
  .nav__item a::before {
    bottom: 0.9375rem;
  }
  .nav__item:not(:last-child) {
    margin-right: 1.25rem;
  }
}

.nav__item--black a {
  color: #333;
}

.nav__item--black a::before {
  bottom: -2px;
  bottom: -0.125rem;
}

@media screen and (max-width: 767px) {
  .nav__item--black:not(:last-child) {
    margin-right: 2.375rem;
  }
}

.pageTop {
  width: 120px;
  width: 7.5rem;
  height: 120px;
  height: 7.5rem;
  display: inline-block;
  border: 2px solid #333;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  right: 60px;
  right: 3.75rem;
  bottom: 272px;
  bottom: 17rem;
  background: #fff;
  z-index: 10;
}

.pageTop:hover {
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .pageTop {
    width: 4.375rem;
    height: 4.375rem;
    right: 1rem;
    bottom: 19.0625rem;
  }
}

.pageTop__img {
  position: absolute;
  content: "";
  width: 33px;
  width: 2.0625rem;
  height: 33px;
  height: 2.0625rem;
  top: 25px;
  top: 1.5625rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 767px) {
  .pageTop__img {
    width: 1.375rem;
    height: 1.375rem;
    top: 0.75rem;
  }
}

.pageTop__text {
  font-family: reross-quadratic, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 19.2px;
  line-height: 1.2rem;
  padding-top: 70px;
  padding-top: 4.375rem;
}

@media screen and (max-width: 767px) {
  .pageTop__text {
    font-size: 0.75rem;
    padding-top: 2.1875rem;
  }
}

.section-img {
  min-height: 450px;
  min-height: 28.125rem;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .section-img {
    min-height: 15.625rem;
  }
}

.section-img--salad {
  background-image: url(../images/common/salad.png);
}

@media screen and (max-width: 767px) {
  .section-img--salad {
    background-image: url(../images/common/salad-big.png);
  }
}

.section-img--store {
  background-image: url(../images/common/store.png);
}

@media screen and (max-width: 767px) {
  .section-img--store {
    background-image: url(../images/common/store-big.png);
  }
}

.shop-card {
  background: #fff;
  padding: 30px 33px 42px;
  padding: 1.875rem 2.0625rem 2.625rem;
  position: relative;
}

.shop-card::before {
  z-index: 1;
  position: absolute;
  content: "";
  top: -68px;
  top: -4.25rem;
  left: -98px;
  left: -6.125rem;
  width: 288px;
  width: 18rem;
  height: 240px;
  height: 15rem;
  background: url(../images/common/stamp.svg) no-repeat center center/contain;
}

@media screen and (max-width: 767px) {
  .shop-card {
    padding: 1.125rem 0.625rem 6.9375rem;
  }
  .shop-card::before {
    top: -2.5rem;
    left: -1.0625rem;
    width: 7rem;
    height: 5.8125rem;
  }
}

.shop-card__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .shop-card__images {
    display: block;
  }
}

.shop-card__img {
  position: relative;
  display: block;
}

.shop-card__img img {
  width: 100%;
}

.shop-card__img::after {
  position: absolute;
  content: "";
  width: calc(100% - 2.4375rem);
  height: calc(100% - 2.4375rem);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: transparent;
  border: 1px solid #fff;
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .shop-card__img::after {
    width: calc(100% - 1.76626rem);
    height: calc(100% - 1.56624rem);
  }
}

.shop-card__body {
  margin-top: 27px;
  margin-top: 1.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media screen and (max-width: 767px) {
  .shop-card__body {
    display: block;
    margin-top: 1.25rem;
  }
}

.shop-card__title {
  font-family: "Satisfy", cursive;
  font-size: 48px;
  font-size: 3rem;
  letter-spacing: 0.05em;
  width: 242px;
  width: 15.125rem;
  margin-left: 10px;
  margin-left: 0.625rem;
}

@media screen and (max-width: 767px) {
  .shop-card__title {
    font-size: 1.875rem;
    margin-left: 0.875rem;
    width: 100%;
  }
}

.shop-card__text__wrapper {
  max-width: 613px;
  max-width: 38.3125rem;
  padding-top: 20px;
  padding-top: 1.25rem;
}

@media screen and (max-width: 767px) {
  .shop-card__text__wrapper {
    max-width: 100%;
    padding-top: 0;
  }
}

.shop-card__text {
  font-size: 16px;
  font-size: 1rem;
  line-height: 40px;
  line-height: 2.5rem;
  width: 100%;
  letter-spacing: 0;
  padding: 0 9px;
  padding: 0 0.5625rem;
  background: linear-gradient(transparent 97%, #C4C4C4 1px) #fff;
  background-size: auto 2.5em;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .shop-card__text {
    padding: 0 0 0 0.8125rem;
  }
}

.shop-card__message {
  font-family: "Satisfy", cursive;
  color: #159741;
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 57.62px;
  line-height: 3.60125rem;
  letter-spacing: 0.05em;
  position: absolute;
  bottom: -6px;
  bottom: -0.375rem;
  right: 8px;
  right: 0.5rem;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

.shop-card__message::before, .shop-card__message::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  height: 0.0625rem;
  background: #159741;
  left: 0;
  bottom: 11px;
  bottom: 0.6875rem;
}

.shop-card__message::after {
  bottom: 5px;
  bottom: 0.3125rem;
}

@media screen and (max-width: 767px) {
  .shop-card__message {
    font-size: 2.25rem;
    bottom: -3.25rem;
  }
}

.title {
  text-align: center;
}

.title__jp {
  font-weight: 700;
  color: #159741;
}

@media screen and (max-width: 767px) {
  .title__jp {
    font-size: 0.875rem;
  }
}

.title__jp--white {
  color: #fff;
}

.title__en {
  margin-top: 3px;
  margin-top: 0.1875rem;
  font-size: 48px;
  font-size: 3rem;
  font-family: reross-quadratic, sans-serif;
  position: relative;
  letter-spacing: 0.05em;
}

.title__en::before {
  position: absolute;
  content: "";
  width: 50px;
  width: 3.125rem;
  height: 1px;
  height: 0.0625rem;
  bottom: -14px;
  bottom: -0.875rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #159741;
}

@media screen and (max-width: 767px) {
  .title__en {
    font-size: 2rem;
  }
  .title__en::before {
    bottom: -0.5625rem;
  }
}

.title__en--white {
  color: #fff;
}

.title__en--white::before {
  background: #fff;
}

.title__en--small {
  font-size: 24px;
  font-size: 1.5rem;
  margin-top: 8px;
  margin-top: 0.5rem;
}

.about {
  background: #F2F2F2;
}

.about__items {
  margin-top: 93px;
  margin-top: 5.8125rem;
}

@media screen and (max-width: 767px) {
  .about__items {
    margin-top: 4.125rem;
  }
}

.about__item:not(:last-child) {
  margin-bottom: 64px;
  margin-bottom: 4rem;
}

@media screen and (max-width: 767px) {
  .about__item:not(:last-child) {
    margin-bottom: 3.5rem;
  }
}

.contact {
  padding: 130px 0;
  padding: 8.125rem 0;
  background: url(../images/common/vegetable.png) no-repeat center center/cover;
}

@media screen and (max-width: 767px) {
  .contact {
    padding: 4.0625rem 1rem;
  }
}

.contact__inner {
  background: #F2F2F2;
  padding: 64px 140px 72px;
  padding: 4rem 8.75rem 4.5rem;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .contact__inner {
    padding: 4.0625rem 1rem;
  }
}

.contact__lead {
  margin-top: 38px;
  margin-top: 2.375rem;
  font-size: 16px;
  font-size: 1rem;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .contact__lead {
    margin-top: 3.4375rem;
  }
}

.contact__form {
  margin-top: 48px;
  margin-top: 3rem;
}

@media screen and (max-width: 767px) {
  .contact__form {
    margin-top: 1.875rem;
  }
}

.main {
  background: #2F2F2F;
  position: relative;
  overflow: hidden;
}

.main__inner {
  position: relative;
}

.main__body {
  color: #fff;
  z-index: 5;
  position: absolute;
  top: 174px;
  top: 10.875rem;
  left: 178px;
  left: 11.125rem;
}

@media screen and (max-width: 767px) {
  .main__body {
    left: 1.1875rem;
    top: 5.5625rem;
  }
}

.main__img {
  text-align: right;
}

.main__img img {
  width: 75%;
}

@media screen and (max-width: 767px) {
  .main__img img {
    width: 82%;
  }
}

.main__title {
  font-family: reross-quadratic, sans-serif;
  font-size: 100px;
  font-size: 6.25rem;
  line-height: 100px;
  line-height: 6.25rem;
  letter-spacing: 0;
}

@media screen and (max-width: 767px) {
  .main__title {
    font-size: 2.25rem;
    line-height: 2.375rem;
  }
}

.main__title--strong {
  color: #159741;
}

.main__lead {
  margin-top: 51px;
  margin-top: 3.1875rem;
  margin-left: 21px;
  margin-left: 1.3125rem;
  display: inline-block;
  font-size: 32px;
  font-size: 2rem;
  line-height: 46.34px;
  line-height: 2.89625rem;
  letter-spacing: 0.05em;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .main__lead {
    font-size: 0.875rem;
    line-height: 1.26687rem;
    font-weight: 500;
    margin-top: 1.0625rem;
    margin-left: 0.25rem;
  }
}

.main__lead--strong {
  background: #159741;
  margin-left: 1px;
  margin-left: 0.0625rem;
  margin-top: 22px;
  margin-top: 1.375rem;
  padding: 8px 20px 9px 0;
  padding: 0.5rem 1.25rem 0.5625rem 0;
}

@media screen and (max-width: 767px) {
  .main__lead--strong {
    margin-top: 0.5625rem;
    padding: 0.1875rem 0.1875rem 0.4375rem 0;
  }
}

.main__content {
  color: #fff;
  text-align: center;
  padding: 120px 0 110px;
  padding: 7.5rem 0 6.875rem;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .main__content {
    padding: 3rem 0 2.125rem;
  }
}

.main__message {
  margin-bottom: 48px;
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 30px;
  font-size: 1.875rem;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 767px) {
  .main__message {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}

.main__text:not(:last-child) {
  margin-bottom: 27px;
  margin-bottom: 1.6875rem;
}

@media screen and (max-width: 767px) {
  .main__text {
    margin-bottom: 1.5rem;
    padding: 0 2rem;
  }
}

.main__back {
  position: absolute;
  overflow: hidden;
  bottom: -111px;
  bottom: -6.9375rem;
  left: -43px;
  left: -2.6875rem;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .main__back {
    text-align: right;
    height: inherit;
    bottom: -0.4375rem;
    left: -0.625rem;
  }
}

.main__back-text {
  font-family: reross-quadratic, sans-serif;
  font-size: 280px;
  font-size: 17.5rem;
  color: rgba(103, 103, 103, .3);
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .main__back-text {
    font-size: 6.875rem;
    line-height: 5.5rem;
  }
}

.menu {
  background: #2F2F2F;
  padding: 72px;
  padding: 4.5rem;
}

@media screen and (max-width: 767px) {
  .menu {
    padding: 1.5rem 1rem;
  }
}

.menu__wrapper {
  border: 2px solid #fff;
  padding: 80px 83px 100px;
  padding: 5rem 5.1875rem 6.25rem;
}

@media screen and (max-width: 767px) {
  .menu__wrapper {
    padding: 1.875rem 1.3125rem 2rem;
  }
}

.menu__ingredient {
  color: #fff;
  text-align: center;
  margin-top: 45px;
  margin-top: 2.8125rem;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .menu__ingredient {
    margin-top: 3.5625rem;
  }
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -24px;
  margin-top: -1.5rem;
}

@media screen and (max-width: 767px) {
  .menu__items {
    display: block;
    margin-top: 2.25rem;
  }
}

.menu__recommend {
  margin-top: 72px;
  margin-top: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .menu__recommend {
    display: block;
    -webkit-transform: none;
            transform: none;
    margin-left: 0;
    margin-top: 0rem;
    max-width: 100%;
  }
}

.menu__item {
  width: calc(50% - 1rem);
}

.menu__item:not(:last-child) {
  margin-right: 32px;
  margin-right: 2rem;
}

@media screen and (max-width: 767px) {
  .menu__item {
    width: 100%;
  }
  .menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 0.5625rem;
  }
}

.menu__instagram {
  margin-top: 77px;
  margin-top: 4.8125rem;
}

@media screen and (max-width: 767px) {
  .menu__instagram {
    margin-top: 2.875rem;
  }
}

.shop {
  background: #F2F2F2;
}

.shop__map {
  margin-top: 80px;
  margin-top: 5rem;
  position: relative;
  width: 100%;
  padding-top: 32.29%;
}

.shop__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
  filter: grayscale(100%);
}

@media screen and (max-width: 767px) {
  .shop__map {
    margin-top: 4rem;
    height: 15.625rem;
  }
}

.shop__body {
  margin-top: 93px;
  margin-top: 5.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .shop__body {
    display: block;
    margin-top: 3.5rem;
  }
}

.shop__info {
  width: 50%;
  padding-left: 180px;
  padding-left: 11.25rem;
}

@media screen and (max-width: 767px) {
  .shop__info {
    width: 100%;
    padding-left: 0;
  }
}

.shop__name {
  margin-top: 18px;
  margin-top: 1.125rem;
}

@media screen and (max-width: 767px) {
  .shop__name {
    text-align: center;
  }
}

.shop__name-pre {
  font-family: reross-quadratic, sans-serif;
}

.shop__name-en {
  font-family: reross-quadratic, sans-serif;
  font-size: 32px;
  font-size: 2rem;
  line-height: 28px;
  line-height: 1.75rem;
  letter-spacing: 0.04em;
}

.shop__address {
  margin-top: 25.149px;
  margin-top: 1.57187rem;
  line-height: 36px;
  line-height: 2.25rem;
}

@media screen and (max-width: 767px) {
  .shop__address {
    margin-top: 1.5rem;
    margin-left: 0.6875rem;
    line-height: 1.7rem;
  }
}

.shop__detail {
  margin-top: 17px;
  margin-top: 1.0625rem;
  line-height: 36px;
  line-height: 2.25rem;
}

@media screen and (max-width: 767px) {
  .shop__detail {
    margin-top: 0.3125rem;
    margin-left: 0.6875rem;
    line-height: 1.7rem;
  }
}

.shop__detail-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.shop__detail-item dt {
  width: 92px;
  width: 5.75rem;
}

@media screen and (max-width: 767px) {
  .shop__detail-item dt {
    width: 5.25rem;
  }
}

@media screen and (max-width: 767px) {
  .shop__detail-item dd {
    width: calc(100% - 5.3125rem);
  }
}

.shop__img {
  width: 48.5%;
}

@media screen and (max-width: 767px) {
  .shop__img {
    text-align: center;
    width: 100%;
    margin-top: 2.5rem;
  }
  .shop__img img {
    height: 18.625rem;
    width: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.shop__card {
  margin: 84px auto 0;
  margin: 5.25rem auto 0;
  max-width: 1146px;
  max-width: 71.625rem;
  -webkit-box-shadow: 0px 4px 20px rgba(161, 159, 159, .6);
          box-shadow: 0px 4px 20px rgba(161, 159, 159, .6);
}

@media screen and (max-width: 767px) {
  .shop__card {
    margin: 6.125rem auto 0;
  }
}

body {
  font-size: 18px;
  font-size: 1.125rem;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 1rem;
  }
}
